In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
Data=pd.read_csv('train.csv')
Data

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,...,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0
1,1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,...,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0
2,2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,...,1.0,14.0,NaN,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0
3,3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,...,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0
4,4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,...,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199995,1199995,36.0,Female,27316.0,Married,0.0,Master's,Unemployed,13.772907,Urban,...,NaN,5.0,372.0,3.0,2023-05-03 15:21:39.257696,Poor,No,Daily,Apartment,1303.0
1199996,1199996,54.0,Male,35786.0,Divorced,NaN,Master's,Self-Employed,11.483482,Rural,...,NaN,10.0,597.0,4.0,2022-09-10 15:21:39.134960,Poor,No,Weekly,Apartment,821.0
1199997,1199997,19.0,Male,51884.0,Divorced,0.0,Master's,NaN,14.724469,Suburban,...,0.0,19.0,NaN,6.0,2021-05-25 15:21:39.106582,Good,No,Monthly,Condo,371.0
1199998,1199998,55.0,Male,NaN,Single,1.0,PhD,NaN,18.547381,Suburban,...,1.0,7.0,407.0,4.0,2021-09-19 15:21:39.190215,Poor,No,Daily,Apartment,596.0
1199999,1199999,21.0,Female,NaN,Divorced,0.0,PhD,NaN,10.125323,Rural,...,0.0,18.0,502.0,6.0,2020-08-26 15:21:39.155231,Good,Yes,Monthly,House,2480.0

In [3]:
def Cleaning(X):
    id_=X['id']
    y_=X['Premium Amount']
    X_=X.drop(columns=['id','Premium Amount'],axis=1)
    X_['Timestamp']=pd.to_datetime(X_['Policy Start Date']).astype('int64')//10*9
    X_=X_.drop(columns=['Policy Start Date'],axis=1)
    for col in X_.select_dtypes(include=['float64', 'int64']).columns:
        X_[col].fillna(X_[col].median(), inplace=True)
    X_=X_.fillna('Unknown')
    bins=[0,15,25,35,45,55,60,100]
    labels=['<15','15-25','25-35','35-45','45-55','55-60','>60']
    bins1=[0,5,10,15,20,50]
    labels1=['<5','5-10','10-15','15-20','>20']
    X_['Age_group']=pd.cut(X_['Age'],bins=bins,labels=labels,right=False)
    X_['Vehicle_Age_group']=pd.cut(X_['Vehicle Age'],bins=bins1,labels=labels1,right=False)
    X_=X_.drop(columns=['Age','Vehicle Age'],axis=1)
    X_E=pd.get_dummies(X_,columns=['Age_group','Gender','Marital Status','Number of Dependents','Education Level','Occupation','Location','Policy Type','Previous Claims','Vehicle_Age_group','Insurance Duration','Customer Feedback','Smoking Status','Exercise Frequency','Property Type'])
    X_E_C=X_E.astype(int)
    X_E_C_N=((X_E_C-X_E_C.mean())/X_E_C.std())
    y_N=((y_-y_.mean())/y_.std())
    return X_E_C_N, id_,y_N,y_

In [4]:
X,Id,y,X_cleaned=Cleaning(Data)

In [5]:
X

,Annual Income,Health Score,Credit Score,Timestamp,Age_group_<15,Age_group_15-25,Age_group_25-35,Age_group_35-45,Age_group_45-55,Age_group_55-60,...,Customer Feedback_Unknown,Smoking Status_No,Smoking Status_Yes,Exercise Frequency_Daily,Exercise Frequency_Monthly,Exercise Frequency_Rarely,Exercise Frequency_Weekly,Property Type_Apartment,Property Type_Condo,Property Type_House
0,-0.707414,-0.251522,-1.567374,1.301064,NaN,2.441465,-0.512117,-0.540292,-0.516781,-0.344443,...,-0.263346,1.003126,-1.003126,-0.570384,-0.577132,-0.576606,1.708588,-0.707077,-0.706673,1.413288
1,-0.023289,-0.843258,0.714630,0.929018,NaN,-0.409590,-0.512117,1.850849,-0.516781,-0.344443,...,-0.263346,-0.996883,0.996883,-0.570384,1.732705,-0.576606,-0.585278,-0.707077,-0.706673,1.413288
2,-0.215473,1.861819,0.013020,1.139972,NaN,2.441465,-0.512117,-0.540292,-0.516781,-0.344443,...,-0.263346,-0.996883,0.996883,-0.570384,-0.577132,-0.576606,1.708588,-0.707077,-0.706673,1.413288
3,3.461604,-1.265926,-1.602809,1.630920,NaN,2.441465,-0.512117,-0.540292,-0.516781,-0.344443,...,-0.263346,-0.996883,0.996883,1.753202,-0.577132,-0.576606,-0.585278,1.414271,-0.706673,-0.707569
4,0.228896,-0.420590,0.034281,-0.141095,NaN,2.441465,-0.512117,-0.540292,-0.516781,-0.344443,...,-0.263346,-0.996883,0.996883,-0.570384,-0.577132,-0.576606,1.708588,-0.707077,-0.706673,1.413288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199995,-0.161259,-1.012325,-1.567374,0.852307,NaN,-0.409590,-0.512117,1.850849,-0.516781,-0.344443,...,-0.263346,1.003126,-1.003126,1.753202,-0.577132,-0.576606,-0.585278,1.414271,-0.706673,-0.707569
1199996,0.106646,-1.181393,0.027194,0.401632,NaN,-0.409590,-0.512117,-0.540292,1.935053,-0.344443,...,-0.263346,1.003126,-1.003126,-0.570384,-0.577132,-0.576606,1.708588,1.414271,-0.706673,-0.707569
1199997,0.615825,-0.927792,0.013020,-0.505471,NaN,2.441465,-0.512117,-0.540292,-0.516781,-0.344443,...,-0.263346,1.003126,-1.003126,-0.570384,1.732705,-0.576606,-0.585278,-0.707077,1.415081,-0.707569
1199998,-0.268959,-0.589657,-1.319330,-0.281092,NaN,-0.409590,-0.512117,-0.540292,-0.516781,2.903234,...,-0.263346,1.003126,-1.003126,1.753202,-0.577132,-0.576606,-0.585278,1.414271,-0.706673,-0.707569
1199999,-0.268959,-1.265926,-0.646068,-1.027103,NaN,2.441465,-0.512117,-0.540292,-0.516781,-0.344443,...,-0.263346,-0.996883,0.996883,-0.570384,1.732705,-0.576606,-0.585278,-0.707077,-0.706673,1.413288

In [6]:
X_corr=X
X_corr['Y']=y

In [7]:
corr_matrix=X_corr.corr()
print(corr_matrix)

                           Annual Income  Health Score  Credit Score  \
Annual Income                   1.000000      0.023540     -0.181180
Health Score                    0.023540      1.000000      0.009559
Credit Score                   -0.181180      0.009559      1.000000
Timestamp                      -0.008273     -0.001577     -0.006417
Age_group_<15                        NaN           NaN           NaN
...                                  ...           ...           ...
Exercise Frequency_Weekly      -0.000539     -0.000535     -0.000798
Property Type_Apartment        -0.000101     -0.000080     -0.000338
Property Type_Condo             0.001002      0.001991     -0.000685
Property Type_House            -0.000900     -0.001910      0.001023
Y                              -0.009989      0.014714     -0.024471

                           Timestamp  Age_group_<15  Age_group_15-25  \
Annual Income              -0.008273            NaN        -0.001394
Health Score               -0.001577            NaN        -0.003468
Credit Score               -0.006417            NaN        -0.002198
Timestamp                   1.000000            NaN         0.002628
Age_group_<15                    NaN            NaN              NaN
...                              ...            ...              ...
Exercise Frequency_Weekly   0.002040            NaN         0.000014
Property Type_Apartment    -0.000717            NaN        -0.000513
Property Type_Condo         0.000591            NaN         0.001835
Property Type_House         0.000126            NaN        -0.001321
Y                          -0.010111            NaN         0.000346

                           Age_group_25-35  Age_group_35-45  Age_group_45-55  \
Annual Income                     0.000527         0.001358         0.000388
Health Score                      0.002952         0.001795        -0.003647
Credit Score                      0.000999        -0.002641         0.001872
Timestamp                         0.001361        -0.001201        -0.000051
Age_group_<15                          NaN              NaN              NaN
...                                    ...              ...              ...
Exercise Frequency_Weekly         0.000600        -0.000973        -0.000925
Property Type_Apartment          -0.001701         0.001825        -0.000697
Property Type_Condo              -0.000902         0.000383        -0.000708
Property Type_House               0.002603        -0.002207         0.001404
Y                                 0.002629        -0.000119        -0.000405

                           Age_group_55-60  ...  Smoking Status_No  \
Annual Income                    -0.000804  ...           0.001492
Health Score                      0.002880  ...           0.002082
Credit Score                      0.000666  ...          -0.001726
Timestamp                        -0.003052  ...          -0.001670
Age_group_<15                          NaN  ...                NaN
...                                    ...  ...                ...
Exercise Frequency_Weekly         0.000672  ...          -0.000377
Property Type_Apartment           0.000850  ...           0.001840
Property Type_Condo              -0.001227  ...          -0.001134
Property Type_House               0.000377  ...          -0.000706
Y                                -0.002121  ...          -0.000163

                           Smoking Status_Yes  Exercise Frequency_Daily  \
Annual Income                       -0.001492                 -0.002640
Health Score                        -0.002082                  0.001558
Credit Score                         0.001726                  0.001011
Timestamp                            0.001670                  0.000467
Age_group_<15                             NaN                       NaN
...                                       ...                       ...
Exercise Frequency_Weekly            0.000377                 -0.333834
Property Type_Apartment             -0.001840                 -0.001269
Property Type_Condo                  0.001134                  0.000961
Property Type_House                  0.000706                  0.000308
Y                                    0.000163                  0.000820

                           Exercise Frequency_Monthly  \
Annual Income                                0.000989
Health Score                                -0.001746
Credit Score                                -0.000119
Timestamp                                   -0.002342
Age_group_<15                                     NaN
...                                               ...
Exercise Frequency_Weekly                   -0.337783
Property Type_Apartment                      0.000985
Property Type_Condo                         -0.002081
Property Type_House                          0.001096
Y                                            0.000312

                           Exercise Frequency_Rarely  \
Annual Income                               0.002180
Health Score                                0.000736
Credit Score                               -0.000082
Timestamp                                  -0.000177
Age_group_<15                                    NaN
...                                              ...
Exercise Frequency_Weekly                  -0.337475
Property Type_Apartment                     0.000555
Property Type_Condo                         0.000572
Property Type_House                        -0.001126
Y                                          -0.000234

                           Exercise Frequency_Weekly  Property Type_Apartment  \
Annual Income                              -0.000539                -0.000101
Health Score                               -0.000535                -0.000080
Credit Score                               -0.000798                -0.000338
Timestamp                                   0.002040                -0.000717
Age_group_<15                                    NaN                      NaN
...                                              ...                      ...
Exercise Frequency_Weekly                   1.000000                -0.000276
Property Type_Apartment                    -0.000276                 1.000000
Property Type_Condo                         0.000551                -0.499673
Property Type_House                        -0.000275                -0.500307
Y                                          -0.000887                 0.001313

                           Property Type_Condo  Property Type_House         Y
Annual Income                         0.001002            -0.000900 -0.009989
Health Score                          0.001991            -0.001910  0.014714
Credit Score                         -0.000685             0.001023 -0.024471
Timestamp                             0.000591             0.000126 -0.010111
Age_group_<15                              NaN                  NaN       NaN
...                                        ...                  ...       ...
Exercise Frequency_Weekly             0.000551            -0.000275 -0.000887
Property Type_Apartment              -0.499673            -0.500307  0.001313
Property Type_Condo                   1.000000            -0.500020 -0.000508
Property Type_House                  -0.500020             1.000000 -0.000804
Y                                    -0.000508            -0.000804  1.000000

[74 rows x 74 columns]

In [8]:
X.shape

(1200000, 74)

In [9]:
X=X.drop(columns=['Age_group_<15','Gender_Male','Vehicle_Age_group_>20'])

In [10]:
X.shape

(1200000, 71)

In [11]:
chunked_dfs = np.array_split(X, np.ceil(len(X) / 1000))

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/numpy/core/fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [12]:
y1=[]
for i in range(1200):
    y1.append(chunked_dfs[i]['Y'])
    chunked_dfs[i]=chunked_dfs[i].drop(columns=['Y'],axis=1)

In [13]:
chunked_dfs[0]

,Annual Income,Health Score,Credit Score,Timestamp,Age_group_15-25,Age_group_25-35,Age_group_35-45,Age_group_45-55,Age_group_55-60,Age_group_>60,...,Customer Feedback_Unknown,Smoking Status_No,Smoking Status_Yes,Exercise Frequency_Daily,Exercise Frequency_Monthly,Exercise Frequency_Rarely,Exercise Frequency_Weekly,Property Type_Apartment,Property Type_Condo,Property Type_House
0,-0.707414,-0.251522,-1.567374,1.301064,2.441465,-0.512117,-0.540292,-0.516781,-0.344443,-0.343933,...,-0.263346,1.003126,-1.003126,-0.570384,-0.577132,-0.576606,1.708588,-0.707077,-0.706673,1.413288
1,-0.023289,-0.843258,0.714630,0.929018,-0.409590,-0.512117,1.850849,-0.516781,-0.344443,-0.343933,...,-0.263346,-0.996883,0.996883,-0.570384,1.732705,-0.576606,-0.585278,-0.707077,-0.706673,1.413288
2,-0.215473,1.861819,0.013020,1.139972,2.441465,-0.512117,-0.540292,-0.516781,-0.344443,-0.343933,...,-0.263346,-0.996883,0.996883,-0.570384,-0.577132,-0.576606,1.708588,-0.707077,-0.706673,1.413288
3,3.461604,-1.265926,-1.602809,1.630920,2.441465,-0.512117,-0.540292,-0.516781,-0.344443,-0.343933,...,-0.263346,-0.996883,0.996883,1.753202,-0.577132,-0.576606,-0.585278,1.414271,-0.706673,-0.707569
4,0.228896,-0.420590,0.034281,-0.141095,2.441465,-0.512117,-0.540292,-0.516781,-0.344443,-0.343933,...,-0.263346,-0.996883,0.996883,-0.570384,-0.577132,-0.576606,1.708588,-0.707077,-0.706673,1.413288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.418265,2.115420,1.295761,-1.523805,-0.409590,-0.512117,1.850849,-0.516781,-0.344443,-0.343933,...,-0.263346,1.003126,-1.003126,-0.570384,-0.577132,1.734285,-0.585278,1.414271,-0.706673,-0.707569
996,-0.579471,0.340213,1.593414,-0.256161,-0.409590,-0.512117,-0.540292,-0.516781,-0.344443,2.907542,...,-0.263346,-0.996883,0.996883,-0.570384,-0.577132,1.734285,-0.585278,-0.707077,-0.706673,1.413288
997,1.511396,0.340213,1.288674,-0.183286,-0.409590,-0.512117,1.850849,-0.516781,-0.344443,-0.343933,...,-0.263346,-0.996883,0.996883,-0.570384,-0.577132,1.734285,-0.585278,1.414271,-0.706673,-0.707569
998,-0.488155,0.593814,0.565803,-1.247646,-0.409590,1.952678,-0.540292,-0.516781,-0.344443,-0.343933,...,-0.263346,-0.996883,0.996883,-0.570384,-0.577132,1.734285,-0.585278,-0.707077,1.415081,-0.707569
999,-0.127099,0.678348,1.231978,0.846554,-0.409590,-0.512117,-0.540292,-0.516781,2.903234,-0.343933,...,-0.263346,-0.996883,0.996883,-0.570384,-0.577132,1.734285,-0.585278,-0.707077,-0.706673,1.413288

In [14]:
def Linear_Regression(X,y,learning_rate,theta,b,iters):
    cost_history=np.zeros(iters)
    for i in range(iters):
        y_pred=X@theta+b
        #print(y_pred)
        gradient_theta=(np.dot(X.T,(y_pred-y)))/X.shape[1]
        gradient_b=((y_pred-y))/X.shape[1]
        theta=theta-(learning_rate*gradient_theta)
        b=b-(learning_rate*gradient_b)
        cost_history[i]=(1/(2*X.shape[1])) * np.sum((y_pred - y)**2)
    return theta, b, cost_history

In [ ]:

iters=10000
learning_rate=0.01
thetas=[]
cost_historys=[]
bs=[]
for i in range(1200):
    theta=np.zeros(70)
    b=0
    theta,b,cost_history=Linear_Regression(chunked_dfs[i].values,y1[i],learning_rate,theta,b,iters)
    thetas.append(theta)
    cost_historys.append(cost_history)
    bs.append(b)

In [ ]:
#itemwise_sum = np.sum(thetas, axis=0)
itemwise_avg1 = np.median(thetas, axis=0)

itemwise_avg3 = np.median(cost_historys, axis=0)

In [ ]:
import statistics
all_elements = [item for sublist in bs for item in sublist]

# Calculate median
b= statistics.median(all_elements)

In [ ]:
b

In [ ]:
X.drop(columns=['Y'],axis=1,inplace=True)
y_pred=(X@theta)+b
y_pred

In [ ]:
plt.plot(range(iters), cost_history)
plt.xlabel("Iterations")
plt.ylabel("Cost")
plt.title("Cost Function Over Iterations")
plt.show()

In [ ]:
from sklearn.metrics import mean_squared_log_error
def rmsle(y_true, y_pred):
    return np.sqrt(mean_squared_log_error(y_true, y_pred))

In [ ]:
result = rmsle(y+10, y_pred+10)
print("RMSLE:", result)

In [ ]:
X_tests=pd.read_csv('test.csv')

In [ ]:
X_tests['Premium Amount']=np.zeros(800000)

In [ ]:
X_test,Id,y_test,X_test_cleaned=Cleaning(X_tests)

In [ ]:
X_test.drop(columns=['Age_group_<15','Gender_Male','Vehicle_Age_group_>20'],axis=1,inplace=True)

In [ ]:
y_test=(X_test@theta)+b

In [ ]:
a=X_cleaned.mean()
b=X_cleaned.std()

In [ ]:
y_Test=np.abs((y_test*(b+2))+a)

In [ ]:
y_Pred=np.abs((y_pred*b)+a)
result = rmsle(X_cleaned, y_Pred)
print("RMSLE:", result)

In [ ]:
y_Pred

In [ ]:
y_Test=y_Test+100

In [ ]:
#output = pd.DataFrame({"id": Id, "Premium Amount": y_Test})
#output.to_csv('submission2.csv', index=False)